<div class="overlay" *ngIf="isVisible" (click)="close()">
  <div (click)="$event.stopPropagation()">
  <section class="user-profile">
    <h2>User Profile</h2>
    <div class="profile-info">
      <p><strong>Name: </strong> <span id="username">{{ user?.name }}</span></p>
      <p><strong>Email: </strong> <span id="email">{{user?.email}}</span></p>
    </div>
    <a href="/logout" class="logout-button">Log Out</a>
    <hr>
    <a href="#" (click)="close()" class="close-button">Close</a>
  </section>
  </div>
</div>
