<header>
  <div class="ccgc-header">
    <h1>Clean Code, Green Code!</h1>
    <p>Your journey to sustainable coding practices starts here.</p>
    <hr>
    <nav class="horizontal-nav">
      <ul>
        <li *ngIf="!isLoggedIn">
          <a href="#" (click)="login()" (keydown.enter)="login()" tabindex="0">Login</a>        </li>
        <li *ngIf="isLoggedIn"><a href="/profile"> {{userName}} </a></li>
        <li><a href="#overview">Overview</a></li>
        <li><a href="#metrics">Metrics</a></li>
        <li><a href="#suggestions">Suggestions</a></li>
        <li><a href="#resources">Resources</a></li>
      </ul>
    </nav>
  </div>
</header>
