.landing-page {
  text-align: center;
  margin: 0 auto; /* This will center the div horizontally */
  border-radius: 25px;
  border: 5px solid #31493C;
  padding: 20px;
  width: 50%;
  height: 300px;
}

hr {
  color: #31493C;
}
h2 {
  font-size: 2em;
  color: #4CAF50; /* Green */
}

p {
  font-size: 1.2em;
}

mat-tab-group {
  width: 50%;
  margin: 0 auto; /* This will center the div horizontally */
}
